body {
	margin: 0;
	padding: 0;
	width: 1440px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400; 
	color: 000000;
	line-height: 16px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	background-color: #eeeeee;
}

.main-header ul {
	list-style-type: none;
	margin: 0;
}

.main-header a {
	color: #000000;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.main-header a:hover {
	color: #fb565a;
}

.main-header a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-header-link-active {
	color: #000000;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px solid #fb565a;
}

.slider {
	background-color: #eeeeee;
}

.slider h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider ul {
	list-style-type: none;
	margin: 0;
}

.slider p {
	color: #283136;
	line-height: 24px;
}

.slider a {
  color: #ffffff;
  background-color: #fb565a;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px 35px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.slider a:hover {
	background-color: #e74246;
}

.slider a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}

.catalog h3 {
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog ul {
	list-style-type: none;
}

.catalog p {
	line-height: 24px;
}

.catalog-list {
	color: #283136;
}

.catalog a {
	color: #ffffff;
  	border-radius: 3px;
  	padding: 10px 35px;
  	line-height: 18px;
  	font-weight: 500;
  	text-transform: uppercase;
}

.catalog a:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 0 0 inset rgba(0, 1, 1, 0.1);
}

.catalog-link-red {
	background-color: #fb565a;
}

.catalog-link-red:hover {
	background-color: #e74246;
} 

.catalog-link-red:active {
	background-color: #d7373b;
} 

.catalog-link-green {
	background-color: #00ca74;
}

.catalog-link-green:hover {
	background-color: #00bc6c;
} 

.catalog-link-green:active {
	background-color: #00aa62;
} 

.catalog-link-yellow {
	background-color: #efc84a;
}

.catalog-link-yellow:hover {
	background-color: #eab534;
} 

.catalog-link-yellow:active {
	background-color: #e5a722;
} 

.info ul {
	list-style-type: none;
} 

.info b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.info p {
	color: #283136;
	line-height: 24px;
}

.info-paragraph {
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
}

.info .advantages-list {
	color: #283136;
}

.stats p {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 24px;
}

.stats td {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
}

.stats th {
	font-weight: normal;
	color: #283136;
}

.links ul {
	list-style-type: none;
}

.main-footer ul {
	list-style-type: none;
}

.main-footer b {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.main-footer p {
	color: #444444;
	line-height: 22px;
}

