body {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: 000000;
	line-height: 16px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	/*position: absolute;*/
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header-wrapper {
	background-color: #eeeeee;
	width: 100%;
}

.main-header {
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 50px 20px 10px;
	background-color: #eeeeee;
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	padding: 50px 20px 10px;
}

.site-navigation {
	display: flex;
}

.site-navigation {
	display: flex;
}

.main-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-header-link {
	margin-right: 40px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.main-header-link:hover {
	color: #fb565a;
}

.main-header-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-header-link-active {
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px solid #fb565a;
	color: #000000;
}

.headline-wrapper {
	background-color: #eeeeee;
}

.headline {
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 60px;
	padding-top: 80px;
	padding-bottom: 110px;
	text-align: center;
	line-height: 55px;
	font-size: 55px;
	font-weight: 500;
	background-color: #eeeeee;
}

.slider-wrapper {
	background-color: #eeeeee;
}

.slider {
	box-sizing: border-box;
	width: 1200px;
	min-height: 420px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 80px;
	padding: 0 20px;
	background-color: #eeeeee;
}

.slider h3 {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.slider ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.slider p {
	line-height: 24px;
	color: #283136;
}

.slider a {
	padding: 10px 35px;
	text-decoration: none;
	border-radius: 3px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
}

.slider a:hover {
	background-color: #e74246;
}

.slider a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}

.services {
	box-sizing: border-box;
	width: 120ы0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 80px;
	padding: 0 20px;
}

.services h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.services ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.services p {
	line-height: 24px;
}

.services-list {
	display: flex;
	justify-content: space-between;
	color: #283136;
}

.services-link {
	padding: 10px 35px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 3px;
	color: #ffffff;
}

.services-link:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 0 0 inset rgba(0, 1, 1, 0.1);
}

.services-link-red {
	background-color: #fb565a;
}

.services-link-red:hover {
	background-color: #e74246;
}

.services-link-red:active {
	background-color: #d7373b;
}

.services-link-green {
	background-color: #00ca74;
}

.services-link-green:hover {
	background-color: #00bc6c;
}

.services-link-green:active {
	background-color: #00aa62;
}

.services-link-yellow {
	background-color: #efc84a;
}

.services-link-yellow:hover {
	background-color: #eab534;
}

.services-link-yellow:active {
	background-color: #e5a722;
}

.info-wrapper {
	box-sizing: border-box;
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 80px;
	padding: 0 20px;
}

.info {
	margin-right: 140px;
}

.info ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.info b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.info-text {
	line-height: 24px;
	color: #283136;
}

.info-paragraph {
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
}

.info-list {
	line-height: 24px;
	color: #283136;
}

.stats p {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 24px;
}

.stats td {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.stats th {
	font-weight: normal;
	line-height: 18px;
	color: #283136;
}

.links {
	box-sizing: border-box;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

.links-list {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-wrapper {
	box-sizing: border-box;
	width: 1200px;
	display: flex;
	margin: 0 auto;
	padding: 0 20px;
}

.catalog-sorting {
	list-style: none;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
	margin-left: 40px;
	list-style: none;
}

.catalog-list img {
	margin-left: 40px;
}

.pagination-list {
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
	list-style: none;
}

.contacts {
	box-sizing: border-box;
	width: 1440px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 70px;
}

.main-footer {
	box-sizing: border-box;
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	padding: 0 20px;
}

.main-footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-footer b {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.main-footer p {
	line-height: 22px;
	color: #444444;
}

.footer-container {
	margin-right: 220px;
}

